@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --background: 222.2 84% 0%;
  --foreground: 210 40% 98%;

  /* This will have to be refactored for light/dark mode: */
  background-color: black;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
